* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.4s;
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 10px 20px;
  border: 2px solid yellow;
  box-sizing: border-box;
  text-align: center;
}

.fotoPerfil {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  border-radius: 100%;
  cursor: pointer;
  height: 130px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.descricao {
  margin-top: 10px;
}

.interesse {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.interesse li {
  color: rgb(163, 180, 102);
  font-weight: 600;
  background-color: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.mudarModo {
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: 635px;
  font-size: 14px;
  border: 2px solid rgb(160, 160, 160);
  border-radius: 5px;
  background-color: rgb(171, 187, 82);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.mudarModo:hover {
  background-color: rgb(133, 141, 88);
}

a {
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(102, 204, 255);
}

footer {
  margin-top: 20px;
}

.modoEscuro {
  background-color: rgb(51, 51, 51);
  color: white;
  transition: 0.4s;
}

.modoEscuro .container {
  background-color: rgb(68, 68, 68);
  border: 2px solid rgb(255, 255, 255);
}

.modoEscuro a {
  color: rgb(102, 204, 255);
}

.modoEscuro .mudarModo {
  background-color: rgb(85, 85, 85);
  margin-right: 611px;
}

.modoEscuro .mudarModo:hover {
  background-color: rgb(119, 119, 119);
}

@media (max-width: 294px) {
  .fotoPerfil {
    width: 70px;
    height: 70px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .descricao {
    font-size: 12px;
  }

  .interesse li {
    font-size: 8px;
    font-weight: 750;
  }

  .mudarModo {
    font-size: 8px;
    font-weight: 750;
  }

  a {
    font-size: 12px;
    font-weight: 700;
  }
}